<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      In AppGallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">In AppGallery</ion-title>
    </ion-toolbar>
  </ion-header>


  

  <ion-item color="pistage" style="margin-top: 5px;margin-bottom: 10px;opacity: 0.9;">
    <ion-label position="stacked">Package name</ion-label>
    <ion-input autocomplete="off" type="text" name="Package name"  [(ngModel)]="pkg"></ion-input>
  </ion-item>

  <ion-button  expand="block" color="dark" fill="outline" (click)="openInAppGallery()">Find</ion-button>


</ion-content>
